{% extends 'authapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
  <div>Категория: {{ object.game_category }}</div>
  <div>Название: {{ object.name }}</div>
  <div><img src="{{ object.image|media_folder_products }}"  alt='{{ objects.name }}'></div>
  <div>Описание: {{ object.description }}</div>
  <div>Цена: {{ object.price }}</div>
  <div>Количество: {{ object.quantity }}</div>
    <button class="btn btn-round form-control last">
    <a href="{% url 'admin:products' category.pk %}">
      к списку игр категории
    </a>
  </button>
{% endblock %}

