{% load static %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>
            {% block title %}
                {{ name_page|title }}
            {% endblock %}
        </title>
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'style/'|add:css_file %}">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
	    {% endblock %}
    </head>
	<body>
		<div class="container">
            {% block menu %}
            {% endblock %}

            {% block content %}
			{% endblock %}
        </div>
        {% block footer %}
            <div class="footer">
                <div class="arrow">
                    <a href="#"><img src="{% static 'img/arrow.png' %}" alt="arrow"></a>
                </div>
                <p>&copy; {% now "Y" %} Историческе Игры. Все права защищены</p>
            </div>
        {% endblock %}
	</body>
</html>