<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>gallery</title>
		<link rel="stylesheet" type="text/css" href="/static/style/style-gallery.css">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="headerline">
					<a class="logo" href="#"><p class="word_1">Historical</p><p class="word_2">games</p></a>
					<div class="contacts">
						<img class="phone" src="/static/img/first_screen/phone.png" alt="phone"><span class="phone-text">+123 456 7890</span>
						<img class="email" src="/static/img/first_screen/email.png" alt="email"><span class="email-text">info@example.com</span>
						<input class="search" type="text" placeholder="Search">
						<div class="icon-search"><a href="#"><img src="/static/img/first_screen/search.png" alt="search"></a></div>
					</div>
				</div>
				<ul class="menu">
					<li class="menu-list"><a href="/" class="menu-link">Home</a></li>
					<li class="menu-list"><a href="#" class="menu-link">About</a></li>
					<li class="menu-list"><a href="#" class="menu-link">Service</a></li>
					<li class="menu-list"><a href="/gallery/" class="menu-link menu-link-active">Gallery</a></li>
					<li class="menu-list"><a href="#" class="menu-link">News</a></li>
					<li class="menu-list"><a href="#" class="menu-link">Team</a></li>
					<li class="menu-list"><a href="/contacts/" class="menu-link">Contact Us</a></li>
				</ul>
				<p class="slider-line"></p>
			</div>
			<div class="gallery clearfix">
				<h3 class="gallery-header">Our Gallery</h3>
				<ul class="gallery-menu">
					<li>
						<div class="name-game"><a href="#"><img src="/static/img/catalog/battlefield_1.jpg" alt="battlefield_1"></a>
							<div class="gallery-name-buy"><p>BATTLEFIELD 1</p>
								<input class="gallery-buy" type="button" value="Buy">
							</div>
						</div>
					</li>
					<li>
						<div class="name-game"><a href="#"><img src="/static/img/catalog/battlefront_1.jpg" alt="battlefront_1"></a>
							<div class="gallery-name-buy"><p>STAR WARS:<br>
								Battlefront II</p>
								<input class="gallery-buy" type="button" value="Buy">
							</div>
						</div>
					</li>
					<li>
						<div class="name-game"><a href="#"><img src="/static/img/catalog/battlefield_4.jpg" alt="battlefield_4"></a>
							<div class="gallery-name-buy"><p>BATTLEFIELD 4</p>
								<input class="gallery-buy" type="button" value="Buy">
							</div>
						</div>
					</li>
					<li>
						<div class="name-game"><a href="#"><img src="/static/img/catalog/tanks.jpg" alt="tanks"></a>
							<div class="gallery-name-buy"><p>WORLD OF TANKS</p>
								<input class="gallery-buy" type="button" value="Buy">
							</div>
						</div>
					</li>
					<li>
						<div class="name-game"><a href="/assasin/"><img src="/static/img/catalog/asassin.jpg" alt="assasin"></a>
							<div class="gallery-name-buy"><p>ASASSIN’S CREED:<br> Rogue</p>
								<input class="gallery-buy" type="button" value="Buy">
							</div>
						</div>
					</li>
					<li>
						<div class="name-game"><a href="#"><img src="/static/img/catalog/honor.jpg" alt="honor"></a>
							<div class="gallery-name-buy"><p>FOR HONOR</p>
								<input class="gallery-buy" type="button" value="Buy">
							</div>
						</div>
					</li>
					<li>
						<div class="name-game"><a href="#"><img src="/static/img/catalog/warships.jpg" alt="warships"></a>
							<div class="gallery-name-buy"><p>WORLD OF WARSHIPS</p>
								<input class="gallery-buy" type="button" value="Buy">
							</div>
						</div>
					</li>
					<li>
						<div class="name-game"><a href="#"><img src="/static/img/catalog/call-of-duty.jpg" alt="call-of-duty"></a>
							<div class="gallery-name-buy"><p>CALL OF DUTY:<br>
								Infinite Warface</p>
								<input class="gallery-buy" type="button" value="Buy">
							</div>
						</div>
					</li>
				</ul>
				<a href="#"><p class="button-more"><span>Show more games</span></p></a>
				<div class="clearfix"></div>
				<div class="poster-1">
					<div class="discount-content">
						<p class="discount">Discount</p>
						<p class="discount-name">CALL OF DUTY:<br>Modern Warfare 3</p>
						<p class="price">$14.44 / <span class="old-price">$28.90</span></p>
						<input class="buy-discount" type="button" value="Buy">
					</div>
				</div>
				<div class="poster-2">
					<div class="discount-content">
						<p class="discount">Discount</p>
						<p class="discount-name">MEDAL OF HONOR</p>
						<p class="price">$15.96 / <span class="old-price">$29.99</span></p>
						<input class="buy-discount" type="button" value="Buy">
					</div>
				</div>
			</div>
			<div class="contact">
				<h3 class="contact-header">Contact Us</h3>
				<div class="contact-content">
					<div class="contact-info">
						<h4 class="contact-subheader">Get in touch with us</h4>
						<p class="contact-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sheets
							containing Lorem Ipsum passages sed do, At&nbsp;vero eos et&nbsp;accusamus et&nbsp;iusto odio digs qui blanditiis<br><br>
							Leningradsky AVE 39, BLDG 79<br>
							MOSCOW 125&thinsp;167, Russia<br><br>
							Telephone: +00&thinsp;111&thinsp;222&thinsp;3333<br><br>
							FAX: +1&thinsp;888&thinsp;888&thinsp;4444<br><br>
							Email: <a href="#">mail@example.com</a>
						</p>
					</div>
					<div class="contact-box">
						<form action="#">
							<input class="contact-name" type="text" placeholder="Name">
							<input class="contact-email" type="email" placeholder="Email">
							<textarea class="contact-message" placeholder="Massege"></textarea>
							<input class="contact-bottom" type="submit" value="SUBMIT">
						</form>
					</div>
				</div>
				<div class="arrow">
					<a href="#"><img src="/static/img/arrow.png" alt="arrow"></a>
				</div>
			</div>
			<div class="map">
				<h3 class="map-header">Route Map</h3>
				<div class="map-box"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.763121008914!2d37.5358139890497!3d55.797351034545684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54995cd1b0adf%3A0xfb771c396ac2a119!2zU2t5bGlnaHQsINCR0LjQt9C90LXRgS3RhtC10L3RgtGA!5e0!3m2!1sru!2sru!4v1594385910795!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>&copy; 2017 Historical Games. All rights reserved | Design by <a href="#"><span>W3layouts</span></a></p>
		</div>
	</body>
</html>