{% extends 'mainapp/base.html' %}
{% load static %}
{% block menu %}
	<div class="header">
		{% include 'mainapp/includes/inc_headerline.html' %}
		{% include 'mainapp/includes/inc_main_menu.html' %}
		<p class="slider-line"></p>
	</div>
{% endblock %}
{% block content %}
   {% include 'mainapp/includes/inc_categories_game.html' %}
	<div class="gallery clearfix">
		<h3 class="gallery-header">Our Gallery</h3>
        <ul class="gallery-menu">
            <li>
                <div class="name-game"><a href="{% url 'gallery:game' hot_product.name %}"><img src="/media/{{ hot_product.image }}"  alt='{{ hot_product.name }}'></a>
                    <div class="gallery-name-buy"><p>{{ hot_product.name }}</p>
                        <span>Горячее предложение!</span>
                        <a href="{% url 'basket:add' hot_product.pk %}"><input class="gallery-buy" type="button" value="Buy"></a>
                    </div>
                </div>
            </li>
        </ul>
        <p>{{ hot_product.description }}</p>
		{% include 'mainapp/includes/inc_name_game.html' %}
		<a href="#"><p class="button-more"><span>Show more games</span></p></a>
		<div class="clearfix"></div>
        {% for game_disc in games_discount %}
		    <div {% if game_disc.name == 'CALL OF DUTY: Modern Warfare 3' %}class="poster-1"{% endif %}
                 {% if game_disc.name == 'MEDAL OF HONOR' %}class="poster-2"{% endif %}>
                <div class="discount-content">
                    <p class="discount">Discount</p>
                    <p class="discount-name">{{ game_disc.name }}</p>
                    <p class="price">${{ game_disc.price }} / <span class="old-price">${{ game_disc.old_price }}</span></p>
                    <input class="buy-discount" type="button" value="Buy">
                </div>
		    </div>
        {% endfor %}
    </div>
    {% include 'mainapp/includes/inc_contacts.html' %}
{% endblock %}
